@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Bitter", serif;
}

:root {
  --bg-color: #65ccb8;
  --text-color: #182628;
  --main-color: #3b945e;
  --white-color: #CCDCDB;
  --shadow-color: rgba(0, 0, 0, .2)
}

html {
  font-size: 69%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 6px rgba(0, 0, 0, 2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 900;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  background-color: var(--white-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  transition: background-color 0.3s;
  margin-right: 1rem;
  display: inline-block;
  white-space: nowrap;
}

.navbar a.active {
  background-color: var(--text-color);  /* slightly darker green */
  color: var(--white-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  opacity: 0.8;
}

#darkMode {
  font-size: 2.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

section {
  min-height: 100vh;
  padding:10rem 7% 2rem;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid white; /* this defines the triangle color */
}

.home {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10rem 7% 2rem;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;  /* podstawa przy prawej krawędzi */
  width: 50% ; /* podstawa trójkąta */
  height: 100%; /* wysokość trójkąta */
  background: var(--white-color);
  clip-path: polygon(
    100% 0%,
    100% 100%,
    0% 50%
  );
  z-index: 0;
}

.home .home-content {
  max-width: 44rem;
  margin-left: 75%;
  position: relative;
  z-index: 2;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .5;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
}

.home-content p {
  font-size: 2rem;
}

.home-content .media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 10%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2.5rem;
  color: var(--text-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: .3s ease;
}

.home-content .media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: .6rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  font-size: 2rem;
  background-color: var(--text-color);
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 500;
}

.button:hover {
  color: var(--main-color);
}


