@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Bitter", serif;
}

:root {
  --bg-color: #65ccb8;
  --text-color: #182628;
  --main-color: #3b945e;
  --white-color: #CCDCDB;
  --shadow-color: rgba(0, 0, 0, .2)
}

html {
  font-size: 69%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 900;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

.navbar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: var(--white-color);
}

section {
  min-height: 100vh;
  padding:10rem 7% 2 rem;
}

.home {
  display: flex;
  margin-left: 60%;
  align-items: center;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .5;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
}

.home-content p {
  font-size: 2rem;
}
